<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <title> {{ .Site.Title }} </title>

  {{ with .Site.Params.Keywords }}<meta name="keywords" content="{{.}}">{{ end }}
  {{ with .Site.Params.Description }}<meta name="description" content="{{.}}">{{ end }}
  {{ partial "head.html" . }}

</head>

<body class="index">
  {{ partial "header.html" . }}

  <section class="user-profile">
    <figure class="user-avatar">
      <img alt="avatar" src="{{ .Site.Params.Avatar }}">
      <figcaption class="user-socials">
        {{ with .Site.Params.TwitterID }}
        <a href="https://twitter.com/{{.}}" title="Twitter"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
        {{ end }}
        {{ with .Site.Params.GoogleplusID }}
        <a href="https://plus.google.com/{{.}}/about" title="Google+"><i class="fab fa-google-plus-square" aria-hidden="true"></i></a>
        {{ end }}
        {{ with .Site.Params.FacebookID }}
        <a href="https://facebook.com/{{.}}" title="Facebook"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
        {{ end }}
        {{ with .Site.Params.GithubID }}
        <a href="https://github.com/{{.}}" title="GitHub"><i class="fab fa-github-square" aria-hidden="true"></i></a>
        {{ end }}
        {{ with .Site.Params.LinkedInID }}
        <a href="http://linkedin.com/in/{{.}}" title="LinkedIn"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a>
        {{ end }}

      </figcaption>
    </figure>
    <p>{{ .Site.Params.SelfIntro }}</p>
  </section>

  {{ partial "footer.html" . }}
  {{ partial "analytics.html" . }}
  <script>renderMathInElement(document.body);</script>
</body>
</html>
